---

import PlantTag from "../PlantTag/PlantTag.astro";
interface Props {
    type: string,
    title: string,
    description: string,
    tags: string[],
    full: boolean;
    slug?: string;

}
const {type, title, description,  tags, slug, full = false} = Astro.props;
---

<div class:list={['wrapper', { wrapperFull: full }]}>
    <div class="details">
        {slug && type==="blog" && <p class="title"><a href={`/blog/${slug}`}>{title}</a></p>}
        {slug && !(type==="blog") && <p class="title"><a href={`/garden/plant/${slug}`}>{title}</a></p>}
        {!slug && <p class="title">{title}</p>}

    <p class="description">{description}</p>
        <slot />
        <PlantTag tags={tags} />
    </div>
    <div class="image">
    <slot name="image" />
    </div>
</div>

<style>
    small {
        text-transform: uppercase;
        background: var(--big-blue);
        color: white;
        padding: 0 .4rem;
        line-height: .7;
        font-size: .8rem;
    }

    .title {
        font-weight: bold;
        margin: 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 80px;
        border: 1px solid rgba(var(--big-blue-rgb), .3);
        margin-top: -6px;
        border-radius: 0 8px 8px 8px;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .image {
        display: flex;
    }

    .image img {
        border-radius: 0;
        object-fit: cover;
    }

    .details {
        padding: .4rem 1rem;
        font-size: 1rem;
    }

    .wrapperFull {
        display: flex;
    }

    .description {
        line-clamp: 3;
        font-size: .8rem;
        margin-bottom: 0;
        padding: 0;
        overflow-wrap: anywhere;
    }


    @media screen and (min-width: 720px) {
        .details {
            padding: .4rem 1rem;
            font-size: 1rem;
            order: -1;
        }
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 220px;
            border: 1px solid rgba(var(--big-blue-rgb), .3);
            margin-top: -6px;
            border-radius: 0 8px 8px 8px;
            margin-bottom: 1rem;

        }
    }






</style>