---
import FormattedDate from "../FormattedDate.astro";
import Tag from "../Tag/Tag.astro";
import styles from "./PostPreview.module.css";
const { post } = Astro.props;
import { Image } from 'astro:assets';
---

<div class={styles.PostPreview}>
  <a href={`/blog/${post.slug}/`}>
    {post.data.image &&
        <div class={styles.heroWrapper}>
         <Image src={post.data.image} alt=""/>
          <Image src={post.data.image} alt=""  class={styles.dupeImage}/>
          <span class={[styles.date, styles.topDate].join(" ")}>
      <FormattedDate date={post.data.published} />
    </span>
            <h4 class={styles.title}>{post.data.title}</h4>
        </div>}
    {!post.data.image &&

        <h4 class={styles.title}>{post.data.title}</h4>
        <span class={styles.date}><FormattedDate date={post.data.published} /></span>

    }

    <p class={styles.description}>{post.data.description}</p>
  </a>
  <div class={styles.footer}>
    {
      post.data.tags && (
        <ul class={styles.tagList}>
          {post.data.tags.map((tag: string) => (
            <li class={styles.tagList__tag}>
              <Tag tag={tag} />
            </li>
          ))}
        </ul>
      )
    }
  </div>
</div>
