---
const {book} = Astro.props;
import { Image } from 'astro:assets';
---
<div class="wrapper">
    <div>
        {book.data.image && <Image src={book.data.image} alt={`Cover of ${book.data.title}`}/>}
    </div>
    <div>
    <h1>{book.data.title}</h1>
        <span>by {book.data.author} <em /><a href={book.data.link}>Buy it</a></span>
    </div>
</div>


<style>
    .wrapper {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-column-gap: 1rem;
    }
</style>