---
import {getAllGardenContent} from "../../utils/getAllGardenContent";
import GardenLayout from "../../layouts/GardenLayout.astro";
import GardenPostsMixed from "../../components/GardenPosts/GardenPostsMixed.astro";
import Search from "../../components/Search/Search.astro";

const {content,  tags : allTags} = (await getAllGardenContent())
const posts = content.sort((a,b) => {
    return Date.parse(b.rendered.metadata.frontmatter.modifiedDate) - Date.parse(a.rendered.metadata.frontmatter.modifiedDate)
}).slice(0,20)
---

    <GardenLayout>
        <h1>Garden</h1>
        <Search />
            <GardenPostsMixed posts={posts}  slot="garden-main"/>
        <div slot="garden-aside">
            <h3>Tags</h3>
            <ul>
                {allTags?.map((tag) => <li><a href={`/garden/tag/${tag[0]}`}>{`${tag[0]} (${tag[1]})`}</a></li>)}
            </ul>
        </div>
    </GardenLayout>



<style>
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
</style>
