---
import NotePreview from "../GardenPreviews/NotePreview.astro";
import LinkPreview from "../GardenPreviews/LinkPreview.astro";
import PlantPreview from "../PlantPreview/PlantPreview.astro";
import BookPreview from "../GardenPreviews/BookPreview.astro";
import type { CollectionEntry } from "astro:content";
import BlogPreview from "../GardenPreviews/BlogPreview.astro";

interface Props {
    posts: Array<CollectionEntry<"books">> | Array<CollectionEntry<"links">> | Array<CollectionEntry<"garden">>
}

const {posts} = Astro.props
---

<ul class="list">
{posts.map((post) => {
    if(post.collection === 'books') {
        return <li class="item"><BookPreview book={post} /></li>
        }
    if(post.collection === "links") {
        return <li class="item"><LinkPreview link={post} /></li>
        }
    if(post.collection === "garden") {
        return <li class="item"><NotePreview note={post} /></li>
        }
    if(post.collection === "blog") {
        return <li class="item"><BlogPreview post={post} /></li>
    }
    return <li class="item"><PlantPreview post={post} /></li>
    })}
</ul>

<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .item {
        max-width: 100%;
    }
</style>